<mat-drawer-container autosize style="width: 100%; height: 600px;">

  <mat-drawer #drawer style="width: 600px; height: 100%;" mode="side" [position]="'end'">

    <table>
      <tr>
        <td>NAME</td>
        <td>PRICE</td>
        <td>DESCRIPTION</td>
      </tr>

      <tr *ngFor="let product of cart">
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
      </tr>
    </table>

  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>